img {
    width: 100%;
}

* {
    margin: 0 auto;
    box-sizing: border-box;
}

/*Menu*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 2;
    left: 0;
    margin-top: 0;
    background-color: white;
    opacity: 60%;

}

li {
    font-size: 1rem;
    padding: 0.3rem;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;

}

li a {
    color: black;
    display: block;
    padding: 1vw 1vw;
    text-decoration: none;
}

li a:hover {
    color: #F1D7CD;
}


.underline {
    color: black;
    position: relative;
    display: inline-block;
}

.underline::after {
    content: '';
    height: 2px;
    width: 44%;
    background: black;
    position: absolute;
    left: calc(39% - 10%);
    bottom: 0.8vw;
}

/*Menu mobil*/
.headerliste_mobil {
    display: none;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem;

}

#burgerfane {
    line-height: 1.6;
    z-index: 2;
    position: relative;
    text-align: left;
}

.hidden {
    display: none;
}



/* Overskrift */
h1 {
    color: black;
    position: absolute;
    top: 35vh;
    left: 8vw;
    font-size: 140px;
    font-family: 'Raleway', sans-serif;
}

p {
    color: black;
    position: absolute;
    top: 57vh;
    left: 32vw;
    font-size: 45px;
    font-family: 'Raleway', sans-serif;
}

/* Billede */
.forside {
    position: fixed;
    background-image: url(images/forside_billede.svg);
    width: 100vw;
    height: 100vh;
    background-size: cover;

}

/*Media mobil*/

@media (max-width: 700px) {
    .headerliste_mobil {
        display: block;
        position: fixed;
        width: 100%;
        background: white;
        opacity: 60%;
    }

    #burgermenu {
        display: inline-block;
        margin-top: -0.2rem;
        position: absolute;
        left: 1rem;
    }

    ul {
        display: block;
    }

    h1 {
        color: black;
        position: absolute;
        top: 35vh;
        left: 8vw;
        font-size: 140px;
        font-family: 'Raleway', sans-serif;

    }

    p {
        color: black;
        position: absolute;
        top: 57vh;
        left: 32vw;
        font-size: 45px;
        font-family: 'Raleway', sans-serif;
    }

    .headerliste {
        display: none;
    }
}
