img {
    width: 100%;
}

* {
    margin: 0 auto;
    box-sizing: border-box;
}

/*Menu*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 2;
    left: 0;
    margin-top: 0;
    background-color: white;
    opacity: 60%;

}

li {
    font-size: 1rem;
    padding: 0.3rem;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;

}

li a {
    color: black;
    display: block;
    padding: 1vw 1vw;
    text-decoration: none;
}

li a:hover {
    color: #F1D7CD;
}


.underline {
    color: black;
    position: relative;
    display: inline-block;
}

.underline::after {
    content: '';
    height: 2px;
    width: 44%;
    background: black;
    position: absolute;
    left: calc(39% - 10%);
    bottom: 0.8vw;
}

/*Burgermenu*/

#burgermenu {
    display: inline-block;
    max-width: 1200px;

    margin: 5px 10px;
}

#burgermenu img {
    height: 25px;
}

nav {
    position: absolute;
    align-items: center;
    z-index: 100;
    background-color: white;
    opacity: 60%;
}


nav li:first-child {
    padding-top: 20px;
}

nav li:last-child {
    padding-bottom: 20px;
}

/*Mediaquery burgermenu*/

@media (min-width: 1110px) {
    #burgermenu {
        display: none;
    }

    #menu {
        display: flex;
        flex-wrap: wrap;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    nav {
        position: static;
        background-color: #F5E8D7;
        opacity: 100%;
        width: 100%;
    }

    nav li:first-child {
        padding-top: 0;
    }

    nav li:last-child {
        padding-bottom: 0;
    }

    header a {
        font-size: 1em;
        line-height: normal;
    }
}




/* Overskrift */
h1 {
    color: black;
    position: absolute;
    top: 35vh;
    left: 8vw;
    font-size: 140px;
    font-family: 'Raleway', sans-serif;
}

p {
    color: black;
    position: absolute;
    top: 57vh;
    left: 32vw;
    font-size: 45px;
    font-family: 'Raleway', sans-serif;
}

/* Billede */
.forside {
    background-image: url(images/forside_billede.svg);
    width: 100vw;
    height: 100vh;
    background-size: cover;

}

/*Media*/
@media (min-width:650px) {}

@media (min-width:1000px) {}
